---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Cta from '../components/Cta.astro'
---

<Layout title="Arthur - Web Experts">
	<main>
		<Hero />
		<Cta />
	</main>
</Layout>
