---
import { Image } from 'astro:assets';
import heroImage from '../assets/HeaderBG.jpg'

const {title, copy, logo} = Astro.props
---

<section  id="hero" class="px-8 lg:px-0  !text-white text-center flex flex-col h-screen items-center justify-center w-full">
    <div id="bg" class="absolute left-0 top-0  -z-[1]">
        <Image class="object-cover w-screen h-screen" src={heroImage} alt="Hollywood Hills" />
    </div>
    <Image class="mb-[87px]" src={logo} width="201" height="175" alt="logo" title="Arthur Sousa" />
    <h1 class="mb-[38px] text-[28px] lg:text-[42px]">{title}</h1>
    <p class="w-full max-w-[925px] text-center text-[19px] leading-[35px]">{copy}</p>
</section>